code_ifttt_node-red.js
[{"id":"cf1e93cf.96bd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6549b967.1cfcd8","type":"ui_group","z":"","name":"test","tab":"d86b65e5.132da8","disp":true,"width":"6","collapse":false},{"id":"d86b65e5.132da8","type":"ui_tab","z":"","name":"LED","icon":"dashboard"},{"id":"e3fc0473.a4d1e","type":"ifttt-key","z":""},{"id":"93bdba88.f6f068","type":"http in","z":"cf1e93cf.96bd8","name":"ON","url":"/incoming1","method":"post","upload":true,"swaggerDoc":"","x":190,"y":220,"wires":[["b6e646c6.653e18","8c3f57da.16134"]]},{"id":"b6e646c6.653e18","type":"http response","z":"cf1e93cf.96bd8","name":"HTTP OK","statusCode":"","headers":{},"x":580,"y":200,"wires":[]},{"id":"e40c1209.c083f8","type":"rpi-gpio out","z":"cf1e93cf.96bd8","name":"Relay 1","pin":"29","set":true,"level":"1","freq":"","out":"out","x":980,"y":300,"wires":[]},{"id":"e6346d05.8f33f8","type":"trigger","z":"cf1e93cf.96bd8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":790,"y":280,"wires":[["e40c1209.c083f8"]]},{"id":"5c11eadf.c8232c","type":"http in","z":"cf1e93cf.96bd8","name":"OFF","url":"/incoming2","method":"post","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["b6e646c6.653e18","99c64445.b869c8"]]},{"id":"fec7469.1178fb8","type":"trigger","z":"cf1e93cf.96bd8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":790,"y":340,"wires":[["e40c1209.c083f8"]]},{"id":"99c64445.b869c8","type":"trigger","z":"cf1e93cf.96bd8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":360,"wires":[["e6346d05.8f33f8","fec7469.1178fb8"]]},{"id":"8c3f57da.16134","type":"trigger","z":"cf1e93cf.96bd8","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":280,"wires":[["e6346d05.8f33f8","fec7469.1178fb8"]]},{"id":"fda5c15.de5854","type":"http in","z":"cf1e93cf.96bd8","name":"ON","url":"/incoming7","method":"post","upload":true,"swaggerDoc":"","x":170,"y":1760,"wires":[["80cbe1b9.d8d19","5b9bd7fe.f41df"]]},{"id":"80cbe1b9.d8d19","type":"http response","z":"cf1e93cf.96bd8","name":"HTTP OK","statusCode":"","headers":{},"x":720,"y":1680,"wires":[]},{"id":"6273f757.f334d","type":"rpi-gpio out","z":"cf1e93cf.96bd8","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1220,"y":1800,"wires":[]},{"id":"c141a1ba.670fe8","type":"trigger","z":"cf1e93cf.96bd8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":830,"y":1800,"wires":[["6273f757.f334d"]]},{"id":"3a726fae.cf1598","type":"http in","z":"cf1e93cf.96bd8","name":"OFF","url":"/incoming8","method":"post","upload":false,"swaggerDoc":"","x":170,"y":1820,"wires":[["80cbe1b9.d8d19","4089676c.77354"]]},{"id":"b3783b5b.c5a9a8","type":"trigger","z":"cf1e93cf.96bd8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":1030,"y":1900,"wires":[["6273f757.f334d"]]},{"id":"4089676c.77354","type":"trigger","z":"cf1e93cf.96bd8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":650,"y":2000,"wires":[["c141a1ba.670fe8","b3783b5b.c5a9a8"]]},{"id":"5b9bd7fe.f41df","type":"trigger","z":"cf1e93cf.96bd8","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":1820,"wires":[["c141a1ba.670fe8","b3783b5b.c5a9a8"]]},{"id":"7ca22db0.b8f4fc","type":"inject","z":"cf1e93cf.96bd8","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["8c3f57da.16134"]]},{"id":"f9f2ba3f.cbf8b","type":"inject","z":"cf1e93cf.96bd8","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["99c64445.b869c8"]]},{"id":"de0e3181.1cd678","type":"http in","z":"cf1e93cf.96bd8","name":"ON","url":"/incoming3","method":"post","upload":true,"swaggerDoc":"","x":210,"y":540,"wires":[["9dec5c27.9d415","1c4620ad.84350f"]]},{"id":"9dec5c27.9d415","type":"http response","z":"cf1e93cf.96bd8","name":"HTTP OK","statusCode":"","headers":{},"x":600,"y":520,"wires":[]},{"id":"86a2ae.92b8755","type":"rpi-gpio out","z":"cf1e93cf.96bd8","name":"Relay 2","pin":"31","set":true,"level":"1","freq":"","out":"out","x":1000,"y":620,"wires":[]},{"id":"4e694022.8f6828","type":"trigger","z":"cf1e93cf.96bd8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":810,"y":600,"wires":[["86a2ae.92b8755"]]},{"id":"e382591e.429de8","type":"http in","z":"cf1e93cf.96bd8","name":"OFF","url":"/incoming4","method":"post","upload":false,"swaggerDoc":"","x":210,"y":600,"wires":[["9dec5c27.9d415","d51c76b5.9644f"]]},{"id":"c440860e.f877b8","type":"trigger","z":"cf1e93cf.96bd8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":810,"y":660,"wires":[["86a2ae.92b8755"]]},{"id":"d51c76b5.9644f","type":"trigger","z":"cf1e93cf.96bd8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":610,"y":680,"wires":[["4e694022.8f6828","c440860e.f877b8"]]},{"id":"1c4620ad.84350f","type":"trigger","z":"cf1e93cf.96bd8","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":610,"y":600,"wires":[["4e694022.8f6828","c440860e.f877b8"]]},{"id":"1ca12011.dd6d6","type":"inject","z":"cf1e93cf.96bd8","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["1c4620ad.84350f"]]},{"id":"d2c9d994.cf71f","type":"inject","z":"cf1e93cf.96bd8","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["d51c76b5.9644f"]]},{"id":"850fa601.3f9cf8","type":"http in","z":"cf1e93cf.96bd8","name":"ON","url":"/incoming5","method":"post","upload":true,"swaggerDoc":"","x":230,"y":860,"wires":[["91f36957.025f78","51510245.a6a514"]]},{"id":"91f36957.025f78","type":"http response","z":"cf1e93cf.96bd8","name":"HTTP OK","statusCode":"","headers":{},"x":620,"y":840,"wires":[]},{"id":"cf03075.c4b8c78","type":"rpi-gpio out","z":"cf1e93cf.96bd8","name":"Relay 3","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1020,"y":940,"wires":[]},{"id":"c3c72fb1.0c00a","type":"trigger","z":"cf1e93cf.96bd8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":830,"y":920,"wires":[["cf03075.c4b8c78"]]},{"id":"352b225.8a8d6de","type":"http in","z":"cf1e93cf.96bd8","name":"OFF","url":"/incoming6","method":"post","upload":false,"swaggerDoc":"","x":230,"y":920,"wires":[["91f36957.025f78","5572eb4d.228a2c"]]},{"id":"6a6024cd.f86f6c","type":"trigger","z":"cf1e93cf.96bd8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":830,"y":980,"wires":[["cf03075.c4b8c78"]]},{"id":"5572eb4d.228a2c","type":"trigger","z":"cf1e93cf.96bd8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":1000,"wires":[["c3c72fb1.0c00a","6a6024cd.f86f6c"]]},{"id":"51510245.a6a514","type":"trigger","z":"cf1e93cf.96bd8","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":920,"wires":[["c3c72fb1.0c00a","6a6024cd.f86f6c"]]},{"id":"9a637c8a.a6c848","type":"inject","z":"cf1e93cf.96bd8","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":740,"wires":[["51510245.a6a514"]]},{"id":"69cef17b.578ac","type":"inject","z":"cf1e93cf.96bd8","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":800,"wires":[["5572eb4d.228a2c"]]},{"id":"ee47f63a.353db","type":"http in","z":"cf1e93cf.96bd8","name":"ON","url":"/incoming7","method":"post","upload":true,"swaggerDoc":"","x":250,"y":1200,"wires":[["4e6619f7.7e1dd8","8065c28e.adb25"]]},{"id":"4e6619f7.7e1dd8","type":"http response","z":"cf1e93cf.96bd8","name":"HTTP OK","statusCode":"","headers":{},"x":640,"y":1180,"wires":[]},{"id":"82b94d01.031898","type":"rpi-gpio out","z":"cf1e93cf.96bd8","name":"Relay 4","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1040,"y":1280,"wires":[]},{"id":"2f878d51.7f7a72","type":"trigger","z":"cf1e93cf.96bd8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":850,"y":1260,"wires":[["82b94d01.031898"]]},{"id":"2a50d281.76c616","type":"http in","z":"cf1e93cf.96bd8","name":"OFF","url":"/incoming8","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1260,"wires":[["4e6619f7.7e1dd8","48ec1547.92f72c"]]},{"id":"b53b6d2d.ce9e7","type":"trigger","z":"cf1e93cf.96bd8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":850,"y":1320,"wires":[["82b94d01.031898"]]},{"id":"48ec1547.92f72c","type":"trigger","z":"cf1e93cf.96bd8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":650,"y":1340,"wires":[["2f878d51.7f7a72","b53b6d2d.ce9e7"]]},{"id":"8065c28e.adb25","type":"trigger","z":"cf1e93cf.96bd8","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":650,"y":1260,"wires":[["2f878d51.7f7a72","b53b6d2d.ce9e7"]]},{"id":"9967c7b0.75e9f","type":"inject","z":"cf1e93cf.96bd8","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1080,"wires":[["8065c28e.adb25"]]},{"id":"e40519ce.ffef9","type":"inject","z":"cf1e93cf.96bd8","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1140,"wires":[["48ec1547.92f72c"]]}]
