node-red-pi-ifttt.json
[{"id":"d257acc1.06558","type":"http in","z":"7a646e3c.983ad","name":"ON","url":"/incoming1","method":"post","upload":true,"swaggerDoc":"","x":190,"y":220,"wires":[["bcf6ef4b.14413","1d7634e3.85960b"]]},{"id":"bcf6ef4b.14413","type":"http response","z":"7a646e3c.983ad","name":"HTTP OK","statusCode":"","headers":{},"x":580,"y":200,"wires":[]},{"id":"9bce57a3.4b8478","type":"rpi-gpio out","z":"7a646e3c.983ad","name":"Relay 1","pin":"29","set":true,"level":"1","freq":"","out":"out","x":980,"y":300,"wires":[]},{"id":"ba36d9c6.6053f8","type":"trigger","z":"7a646e3c.983ad","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":790,"y":280,"wires":[["9bce57a3.4b8478"]]},{"id":"686a1474.ddc5bc","type":"http in","z":"7a646e3c.983ad","name":"OFF","url":"/incoming2","method":"post","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["bcf6ef4b.14413","d52f0e4d.9f8d2"]]},{"id":"2794f8ee.3ab898","type":"trigger","z":"7a646e3c.983ad","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":790,"y":340,"wires":[["9bce57a3.4b8478"]]},{"id":"d52f0e4d.9f8d2","type":"trigger","z":"7a646e3c.983ad","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":360,"wires":[["ba36d9c6.6053f8","2794f8ee.3ab898"]]},{"id":"1d7634e3.85960b","type":"trigger","z":"7a646e3c.983ad","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":280,"wires":[["ba36d9c6.6053f8","2794f8ee.3ab898"]]},{"id":"5ca37464.d5beec","type":"inject","z":"7a646e3c.983ad","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["1d7634e3.85960b"]]},{"id":"716314a0.8ebf9c","type":"inject","z":"7a646e3c.983ad","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["d52f0e4d.9f8d2"]]},{"id":"122697fe.4d4b08","type":"http in","z":"7a646e3c.983ad","name":"ON","url":"/incoming3","method":"post","upload":true,"swaggerDoc":"","x":210,"y":540,"wires":[["2d89c921.a17516","2c23d3ca.7338dc"]]},{"id":"2d89c921.a17516","type":"http response","z":"7a646e3c.983ad","name":"HTTP OK","statusCode":"","headers":{},"x":600,"y":520,"wires":[]},{"id":"cb8bcb64.b20b08","type":"rpi-gpio out","z":"7a646e3c.983ad","name":"Relay 2","pin":"31","set":true,"level":"1","freq":"","out":"out","x":1000,"y":620,"wires":[]},{"id":"40060b3d.83bee4","type":"trigger","z":"7a646e3c.983ad","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":810,"y":600,"wires":[["cb8bcb64.b20b08"]]},{"id":"91113dc1.3eb7a","type":"http in","z":"7a646e3c.983ad","name":"OFF","url":"/incoming4","method":"post","upload":false,"swaggerDoc":"","x":210,"y":600,"wires":[["2d89c921.a17516","ff041f46.8c5ee"]]},{"id":"ed467ece.2c699","type":"trigger","z":"7a646e3c.983ad","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":810,"y":660,"wires":[["cb8bcb64.b20b08"]]},{"id":"ff041f46.8c5ee","type":"trigger","z":"7a646e3c.983ad","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":610,"y":680,"wires":[["40060b3d.83bee4","ed467ece.2c699"]]},{"id":"2c23d3ca.7338dc","type":"trigger","z":"7a646e3c.983ad","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":610,"y":600,"wires":[["40060b3d.83bee4","ed467ece.2c699"]]},{"id":"1462194b.e930a7","type":"inject","z":"7a646e3c.983ad","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["2c23d3ca.7338dc"]]},{"id":"a9c6a079.b8c4d","type":"inject","z":"7a646e3c.983ad","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["ff041f46.8c5ee"]]},{"id":"db6bc375.a2361","type":"http in","z":"7a646e3c.983ad","name":"ON","url":"/incoming5","method":"post","upload":true,"swaggerDoc":"","x":230,"y":860,"wires":[["2fc4f7ea.bdad18","1606cfb7.dd4b9"]]},{"id":"2fc4f7ea.bdad18","type":"http response","z":"7a646e3c.983ad","name":"HTTP OK","statusCode":"","headers":{},"x":620,"y":840,"wires":[]},{"id":"7a14424d.7812cc","type":"rpi-gpio out","z":"7a646e3c.983ad","name":"Relay 3","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1020,"y":940,"wires":[]},{"id":"815da7cf.82f658","type":"trigger","z":"7a646e3c.983ad","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":830,"y":920,"wires":[["7a14424d.7812cc"]]},{"id":"eeb77bc5.a2e128","type":"http in","z":"7a646e3c.983ad","name":"OFF","url":"/incoming6","method":"post","upload":false,"swaggerDoc":"","x":230,"y":920,"wires":[["2fc4f7ea.bdad18","df56e5c9.0b2f28"]]},{"id":"b073118b.87c37","type":"trigger","z":"7a646e3c.983ad","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":830,"y":980,"wires":[["7a14424d.7812cc"]]},{"id":"df56e5c9.0b2f28","type":"trigger","z":"7a646e3c.983ad","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":1000,"wires":[["815da7cf.82f658","b073118b.87c37"]]},{"id":"1606cfb7.dd4b9","type":"trigger","z":"7a646e3c.983ad","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":920,"wires":[["815da7cf.82f658","b073118b.87c37"]]},{"id":"bc8cf2eb.c1aa3","type":"inject","z":"7a646e3c.983ad","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":740,"wires":[["1606cfb7.dd4b9"]]},{"id":"bf430635.cb40b8","type":"inject","z":"7a646e3c.983ad","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":800,"wires":[["df56e5c9.0b2f28"]]},{"id":"e5a81a49.7056e8","type":"http in","z":"7a646e3c.983ad","name":"ON","url":"/incoming7","method":"post","upload":true,"swaggerDoc":"","x":250,"y":1200,"wires":[["6d376594.a36cdc","a2aaf18.8fc161"]]},{"id":"6d376594.a36cdc","type":"http response","z":"7a646e3c.983ad","name":"HTTP OK","statusCode":"","headers":{},"x":640,"y":1180,"wires":[]},{"id":"4fe45e2d.fbf8b","type":"rpi-gpio out","z":"7a646e3c.983ad","name":"Relay 4","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1040,"y":1280,"wires":[]},{"id":"26e8caa9.320c86","type":"trigger","z":"7a646e3c.983ad","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"ON","bytopic":"all","name":"OFF","x":850,"y":1260,"wires":[["4fe45e2d.fbf8b"]]},{"id":"f3a03bc3.f847a8","type":"http in","z":"7a646e3c.983ad","name":"OFF","url":"/incoming8","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1260,"wires":[["6d376594.a36cdc","9d7e8d36.22783"]]},{"id":"3a60891d.7db1f6","type":"trigger","z":"7a646e3c.983ad","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"OFF","bytopic":"all","name":"ON","x":850,"y":1320,"wires":[["4fe45e2d.fbf8b"]]},{"id":"9d7e8d36.22783","type":"trigger","z":"7a646e3c.983ad","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":650,"y":1340,"wires":[["26e8caa9.320c86","3a60891d.7db1f6"]]},{"id":"a2aaf18.8fc161","type":"trigger","z":"7a646e3c.983ad","op1":"OFF","op2":"ON","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":650,"y":1260,"wires":[["26e8caa9.320c86","3a60891d.7db1f6"]]},{"id":"c607513e.15a1f","type":"inject","z":"7a646e3c.983ad","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1080,"wires":[["a2aaf18.8fc161"]]},{"id":"ab00a665.ec4458","type":"inject","z":"7a646e3c.983ad","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1140,"wires":[["9d7e8d36.22783"]]}]